<div class="fonts">
    <h2>Why did I make this site?</h2>
    <div class="using-this-site-body">
        <div>
            <h3>Get to know the real Thomas, not the resume Thomas</h3>
            <p>Rather than a traditional resume written with HTML and CSS type site, 
                I've decided I want the UX of this site to feel like you're having a
                conversation with me... hopefully I haven't annoyed you yet and that didn't
                backfire! As you navigate through this site, you should get a good feel for who I am
                outside of my resume.
            </p>
        </div>
        <div>
            <h3>Don't understand code? No problem</h3>
            <p>I plan on hosting several fun little projects on this site, so for those that don't
                code or don't have the time to clone a repo, you can get a feel for the type of projects
                I like to build!
            </p>
        </div>
        <div>
            <h3>Practice, practice, practice!</h3>
            <p>Whether it's playing the guitar, lifting weights or any other skill I want to learn, 
                I'm a slow and steady type of fella. That's why I like the idea of a never ending project,
                as it gives me a reason to continually practice my non web-development software skills!
                (Oops, I'm realizing this is still an Angular website right now).
            </p>
        </div>
    </div>
</div>