.fonts {
    font-family: Arimo, Roboto, Poppins;
}

h2{
    font-size: 40px;
    color: #344e41;
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
}

.using-this-site-body{
    padding-left: 64px;
    padding-bottom: 24px;
}

.using-this-site-body div{
    padding-bottom: 8px;
    padding-right: 64px;
}