<app-header></app-header>
<div class="home-page-container font">
    <h2 class="interesting-header">Here's why (I think) I'm interesting! </h2>
    <div class="interesting-body">
        <div>
            <h3>Applied Mathematics & Computer Engineering &#64; <a href="https://www.queensu.ca/mathstat/undergraduate/prospective-undergraduate/mthe" target="_blank">Queen's University</a></h3>
            <p>The Applied Mathematics program at Queen's University is the only fully 
                accredited Engineering program in North America that is offered by a
                mathematics department. Being part of this unique program has given me
                exposure to rich mathematical concepts without my software abilities
                taking a hit... just my sleep schedule &#40;but hey, that's why coffee was
                created!&#41;.</p>
        </div>
        <div>
            <h3>Software Engineering Intern &#64; <a href="https://www.tylertech.com/" target="_blank">Tyler Technologies</a></h3>
            <p>I'm currently working 12 month (ending April, 2025) contract as a full stack engineering 
                intern at Tyler Technologies, the biggest provider of software to the U.S. government.
                This has been a great way to get exposed to APIs in a professional environment, and
                become a guru at smuggling data from the front-end to the back-end! 
            </p>
        </div>
        <div>
            <h3>Side projects... not copied from a YouTube video!! <a href="https://github.com/ThomasStatic" target="_blank">View my GitHub</a></h3>
            <p>Can we be honest for a second? When someone blindly copies a video tutorial, they
                aren't learning anything but syntax... if even that. If you look through my GitHub,
                although you'll find a few of these intro projects, you'll also find many, many things
                that myself and some good friends have built from scratch! 
            </p>
        </div>
    </div>
</div>